@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family:
    /* Safari for OS X and iOS (San Francisco) */
    -apple-system,
    /* Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android */
    system-ui,
    /* Chrome < 56 for OS X (San Francisco) */
    BlinkMacSystemFont,
    /* Windows */
    "Segoe UI",
    /* Android */
    "Roboto",
    /* Basic web fallback */
    "Helvetica Neue", Arial, sans-serif !default;
}

@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@keyframes unfoldIn {
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }
  100% {
    transform:scaleY(1) scaleX(1);
  }
}

.field {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  animation:unfoldIn 2s cubic-bezier(0.1, 0.8, 0.1, 1) forwards;
}

.fieldCell:active {
  box-shadow: 0px 0px 20px 0px grey inset;
}

.fieldCell{
  font-size: 1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  background: darkgrey;
  width: 50px;
  height: 50px;
  transition: background 2s;
}

.empty{
  background: darkseagreen;
}

.bomb{
  background: darkred;
}

.number{
  background: mediumseagreen;
}

.App{
  display: flex;
  justify-content: center;
}
